@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warning: 38 92% 50%;
  --warning-foreground: 48 96% 89%;

  --success: 140, 66%, 48%;
  --success-foreground: 140, 66%, 36%;

  --error: 4, 66%, 50%;
  --error-foreground: 4, 66%, 36%;

  --primary: 194, 89%, 58%;
  --primary-foreground: 194, 89%, 58%;
}

.dark {
  --warning: 48 96% 89%;
  --warning-foreground: 38 92% 50%;

  --success: 140, 66%, 48%;
  --success-foreground: 140, 66%, 36%;

  --error: 4, 66%, 50%;
  --error-foreground: 4, 66%, 36%;

  --primary: 194, 89%, 58%;
  --primary-foreground: 194, 89%, 58%;
}
